
  </div><!-- /.container -->
        <footer class="footer">
          <div class="container">
            <p class="text-muted">&copy; Shreyam's BharatCamp 2019 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a></p>
          </div>
        </footer>
    </body>
</html>